.parent {
    font-family: "oswald";
    background-color: black;
    padding: 1vh 1vw 1vh 1vw;
    position: sticky;
    z-index: 99;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      display: none;
    }
  }
  .parent .title {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-weight: 500;
    font-size: 1.8vw;
    font-family: martin;
    cursor: pointer;
    letter-spacing: 2rem;
    color: black;
  }

  .parent .components {
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 0.3vw;
    border-radius: 1vw;
  }
  .components ul {
    position: relative;
    list-style-type: none;
    display: flex;
    gap: 2vw;
    border-radius: 1vw;
    backdrop-filter: blur(5px);
  }
  .components ul li {
    font-family: fira sans condensed;
    letter-spacing: 2px;
    font-size: 1vw;
    font-weight: 500;
    
  }
  .components ul li p {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 0.2vw;
    cursor: pointer;
    
  }
  .components ul li p::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: blueviolet;
  }
  .components ul li p:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
  }
  .components ul li p:hover::after {
    animation: line 1s ease-in-out forwards;
  }
  
  @keyframes line {
    100% {
      width: 100%;
    }
  }
  .last {
    display: flex;
    gap: 0.2vw;
  }
  .register {
    position: relative;
    font-family: poppins;
    font-size: 1.2vw;
    padding: 0.5vh 1vw;
    border: 4px solid slategray;
    border-radius: 0.5vw;
  }
  
  .register > p {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .main-navbar-mobile {
    margin: 0;
    color: black;
  }
  .parent-navbar-mobile {
    margin: 0.5vh 1vw;
    position: relative;
    padding: 0.5vh 1vw;
    font-family: Oswald;
    color: black;
    background-color: whitesmoke;
    border-radius: 3vw;
    transition: all 0.3s linear;
    height: 6vh;
    display: none;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      display: block;
    }
  }
  .components-mobile {
    position: inherit;
    padding: 0vh 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    transition: all 0.3s linear;
  }
  .navbar-menu-mobile {
    width: 5.5vw;
  }
  .title-mobile {
    display: flex;
    gap: 1vw;
    align-items: flex-end;
    font-family: martin;
    font-weight: bold;
    font-size: 4vw;
    cursor: pointer;
  }
  .navbar-close-mobile {
    display: none;
  }
  .navbar-open-mobile {
    height: 10vh;
    display: block;
  }
  .navbar-open {
    transition: all 0.3s linear;
  }
  .navbar-open ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5vh 0vw;
  }
  .navbar-open ul li p {
    font-family: poppins;
    font-weight: 500;
    font-size: 3.5vw;
    animation: fadeNav 0.5s ease-in-out forwards;
  }
  @keyframes fadeNav {
    0% {
      transform: translateY(-2vh);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .navbar-open ul li p::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(190, 52, 176);
  }
  .navbar-open ul li p:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
  }
  .navbar-open ul li p:hover::after {
    animation: line 0.3s ease-in-out forwards;
  }
  .register-mobile {
    position: relative;
    font-family: poppins;
    font-size: 4vw;
    padding: 0vh 1vw;
    border: 4px solid slategray;
    border-radius: 1vw;
    cursor: pointer;
  }
  