@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: titlee;
    src: url(/public/fonts/Zaptron-Font/Zaptron-Regular.otf);
    font-weight: regular;
    font-style: normal;
    display: swap;
  }
  @font-face {
    font-family: oswald;
    src: url(/public/fonts/Oswald/Oswald-VariableFont_wght.ttf);
    font-weight: regular;
    font-style: normal;
    display: swap;
  }
}