.parent_hero {
    padding-right: 1vw;
    padding-left: 6vw;
    background-color: black;
    padding-top: 3vh;
    position: relative;
    isolation: isolate;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      padding: 0 2vw;
    }
  }
  
  .tag-hero-mobile {
    display: flex;
    align-items: flex-end;
    gap: 1vw;
    position: relative;
    z-index: -1;
    padding: 0;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 2vw;
    }
  }
  
  .hero-srm-logo {
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      width: 40vw;
    }
  }
  
  .parent_hero .tag {
    position: relative;
    font-family: poppins;
    font-weight: 500;
    color: white;
    border: 3px solid blueviolet;
    font-size: 1.5vw;
    padding: 0vh 0.4vw;
    border-radius: 1vw;
    margin-bottom: 2vh;
    margin-top: 5vh;
    font-weight: 600;
    display: flex;
    gap: 0.3vw;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      font-size: 2.5vw;
      padding: 0.2vh 1vw;
      margin-top: 3vh;
      text-align: center;
      font-weight: 600;
      gap: 1vw;
    }
  }
  .tag > div {
    display: flex;
    align-items: flex-start;
  }

  .parent_hero .column {
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
  }
  .parent_hero .column .left_side {
    padding-top: 2vh;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      padding: 0;
    }
  }
  .parent_hero .title1 {
    position: relative;
    font-size: 4.7vw;
    font-weight: 600;
    line-height: 110%;
    margin-top: 3vh;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      font-size: 9vw;
    }
  }

  .br {
    display: block;
    margin-bottom: 0em;
  }
  .parent_hero .title1 .hackathon {
    position: relative;
    font-family: "panda";
    color: white;
  }
  .parent_hero .title1 .hackathon::after {
    content: "";
    z-index: -1;
    position: absolute;
    height: 4vh;
    width: 0;
    left: 0;
    bottom: 1vh;
    background: rgb(255, 60, 111, 0.1);
    animation: line 1s ease-in-out forwards;
  }
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    .parent_hero .title1 .hackathon::after {
      height: 2vh;
    }
  }
  @keyframes line {
    100% {
      width: 100%;
    }
  }
  
  .parent_hero .title1 .description {
    margin-top: 8vh;
    font-size: 1.2vw;
    font-weight: 500;
    font-family: Audiowide;
    color: white;
    line-height: normal;
    text-transform: none;
    letter-spacing: 0px;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      margin-top: 0;
      font-size: 2.8vw;
      font-weight: 400;
    }
  }
  

  .register_now {
    margin-top: 5vh;
    position: relative;
    padding: 0.5vh 0.5vw;
    margin-bottom: 10vh;
    background: rgb(255, 60, 111, 0.1);
    border: 3px solid blueviolet;
    border-radius: 2vw;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;
    height: fit-content;
    transition: all 0.3s ease-in-out;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      margin-top: 2vh;
      padding: 0 1vw;
      width: 60vw;
    }
  }
  .register_now:hover {
    width: 21vw;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      width: 62vw;
    }
  }
  .register_now a {
    text-decoration: none;
    font-size: 1.4vw;
    letter-spacing: 6px;
    color: white;
    font-family: ghenera;
    font-weight: bold;
    @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
      font-size: 4vw;
    }
  }

