.parent_hero {
  height: 100vh;
  width: 100vw;
  background-image: url('../../../public/images/herohai.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 6vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.register_now {
  padding: 0.5vh 0.5vw;
  background: linear-gradient(to right, #303030, #4d4d4d);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

.register_now a {
  text-decoration: none;
  font-family: 'Empire', sans-serif !important;
  font-size: 1.4vw;
  letter-spacing: 6px;
  color: white;
  font-family: ghenera;
  font-weight: bold;
  z-index: 2;
  position: relative;
}
.iconhai {
  z-index: 2;
}

.register_now::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ff9900, #ff3737);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  opacity: 0;
}
.register_now:hover::before {
  transform: translateX(0);
  opacity: 1;
}
.register_now:active::before {
  transform: translateX(0);
  opacity: 1;
}
.register_now:focus::before {
  transform: translateX(0);
  opacity: 1;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .register_now {
    width: 60vw;
    padding: 0 1vw;
  }
  .register_now a {
    font-size: 4vw;
  }
}
