.parent-sponsors {
  padding: 7vh 3vw;
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;

  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    padding: 5vh 2vw;
  }
}

.sponsors-title {
  position: relative;
  font-size: 45px;
  color: #ff5e00;
  font-family: "Empire";
  letter-spacing: 2px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 2vw;
  padding-left: 6vw;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    font-size: 40px;
    padding-left: 15vw;
  }
}

.sponsors-title img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100px;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    width: 55px;
    
  }
}
.sponsors-container {
  margin-top: 5vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    margin-top: 2vh;
  }
}

.sponsors-border {
  position: relative;
  padding: 2vh 1vw;
  border: 3px solid #ff5e00;
  display: flex;
  gap: 1vw;
  align-items: center;
  border-radius: 1vw;
  isolation: isolate;
  overflow: hidden;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    border-radius: 5vw;
    padding: 0vh 1vw;
  }
}


.sponsors-container img {
  width: 10vw;
  background: inherit;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    width: 25vw;
  }
}
.sponsors-container-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sponsor-title a {
  letter-spacing: 2px;
  color: white;
  font-family: audiowide;
  font-weight: 500;
  font-size: 2vw;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    font-size: 4vw;
  }
}

.link-launch-icon {
  width: 30px;
  height: 100%;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    width: 25px;
  }
}
