@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'Empire';
  src: url('/fonts/empire/EvilEmpire.otf') format('truetype');
}
@font-face {
  font-family: 'Rifle';
  src: url('/fonts/rifle/armalite.ttf') format('truetype');
}

@font-face {
  font-family: 'Science';
  src: url('/fonts/science/Rabid\ Science.ttf') format('truetype');
}
  html,
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  p {
    -webkit-tap-highlight-color: transparent;
  }
  .bg-sep {
    position: relative;
    height: 0.2vh;
  }
  .bg-sep::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      to bottom,
      #663300,
      #774400,
      #885500,
      #996600,
      #aa7700,
      #bb8800,
      #cc9900
    );
    box-shadow: 0vw 1vw 3vw 1vw #663300;
  }
  .bg {
    position: relative;
    isolation: isolate;
    height: 100vh;
  }
  .bg::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
  }
