@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira Sans Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: martin;
    src: url(../public/fonts/Martin-Grely-Font/Martin\ Grely.ttf);
    font-weight: regular;
    font-style: normal;
    display: swap;
  }


@font-face {
    font-family: panda;
    src: url(../public/fonts/kung-fu-master-font/KungFuMaster3D-K7vxe.otf);
    font-weight: regular;
    font-style: normal;
    display: swap;
  }

@font-face {
    font-family: mideltone;
    src: url(../public/fonts/mideltone/MIDELTONEROUGH.ttf);
    font-weight: regular;
    font-style: normal;
    display: swap;
  }

  html,
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: poppins;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  p {
    -webkit-tap-highlight-color: transparent;
  }